{% extends "base.html" %}

{% block title %} {{ course.title }} {% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="margin-top: 10vh;">
    <div class="card p-4">
        <div class="card-body">
            <p>By {{ course.instructor }}</p>
            <h2>{{ course.title }}</h2>
            <p>Price: {{ course.courseprice.get_price }}</p>
            <h4>Categories:</h4>
            <ul class="list-group list-group-horizontal">
                {% for category in course.categories.all %}
                    <li class="list-group-item">{{ category.get_category_name }}</li>
                {% endfor %}
            </ul>
            <h4>Sections:</h4>
            <div class="list-group w-50">
                {% for section in course.coursesection_set.all %}
                    <a href="{% url "course-section" slug=course.slug pk=section.pk %}" class="list-group-item list-group-item-action border-bottom">{{ section.section }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}